.checkbox-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;

  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.2em solid black;
  outline: none;
  cursor: pointer;
}

input.checked {
  background-color: #13b0f5;
  position: relative;
}

input.checked::before {
  content: "✓";
  font-size: 1.5em;
  font-weight: 20px;
  color: black;
  position: absolute;
  right: 1px;
  top: -6px;
}
